#into{
    height:calc(100vh - 4rem);
    width:100vw;
    max-width:75rem;
    margin:0 auto;
    overflow: hidden;
    position: relative;
    
}

.bg{
    position:absolute;
    top:-5rem;
    right:0rem;
    z-index: -1;
    object-fit:cover;
    height: 100vh;
    width: auto;

}

.btn:hover{
    color: rgb(255, 215, 0); 

    border-bottom: 3px solid gold;
}

.introContent{
    height: 100vh;
    width:100vw;
    padding:2rem;
    font-size: auto;
    font-weight: 700;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    line-height: auto;
    
}
.hello {
    font-size:1.75rem;
    font-weight:100;
}
.introText {
    font-size:3rem;
    letter-spacing: 2px;
    
}
.introName {
    color:rgb(255, 215, 0);
    font-size: 70px;
    letter-spacing: 0.5px;
}
.introPara {
     font-size:medium;
     font-weight: 100;
    
}

.btn{
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    max-width: 1500px;
    position: sticky;
    border-radius: 3rem;
    font-size: large;
    height: fit-content;
    margin: 1rem 0;
    display: flex;
    
}
.hire{
    height: 30px;
    width:30px;
    object-fit: cover; 
    background-color:bisque;  
}

.hire:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: rgb(255, 215, 0);
    transition: width 0.3s ease, left 0.3s ease;
}

.hire:hover {
    box-shadow: 0 4px 20px rgba(236, 244, 10, 0.2); /* Add shadow on hover */
}

.hire:hover:after {
    width: 100%;
    left: 0;
}


@media screen and (max-width:840px){
    .bg {
        right: -10vw;
        height: 80vh; 
        width: 80vw;
        
    }
    .introContent{
        font-size:10vw;
    }
    .hello {
        font-size:4.5vw;
    }
}

@media screen and (max-width:480px){
    .bg {
        margin-top: 3rem;
        right: -80vw;
        height: 80vh; 
        width: 80vw;
        
    }
    
}